// Fonts
$font-family-primary : "Montserrat", sans-serif;

$font-size-5xl :288px;
$font-size-4xl :96px;
$font-size-3xl :48px;
$font-size-xxl :36px;
$font-size-xl :34px;
$font-size-lg :24px;
$font-size-md :18px;
$font-size-sm :14px;
$font-size-xs :13px;
$font-size-xxs :12px;
$font-size-3xs :10px;


// Colors
$color-light : #FFFFFF;
$color-dark : #000000;
$color-001 : #FF6060;
$color-002 : #F6F6F6; //bg container home
$color-003 : #FBFBFB; //bg description