@import '../utils/variables';
@import '../utils/mixins';

.cards-container {
    margin-bottom: 27px;
    display: grid;
    grid-template-columns: 1fr;
    // grid-template-rows: 255px;
    row-gap: 20px;

    @include for-tablet {
        padding: 56px 50px 43px;
        background-color:$color-002;
        border-radius: 25px;
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: 340px;
        row-gap: 50px;
        column-gap: 60px;
    }

    @include for-desktop {
        grid-template-columns: 1fr 1fr 1fr;
    }

}